/Ebank/Ebank-ejb/build/
/Ebank-lib/build/
/Ebank/Ebank-ejb/dist/
/Ebank-lib/dist/
/Ebank/Ebank-war/build/
/Ebank/build/
/Ebank/Ebank-war/dist/
/Ebank-client/nbproject/private/
/Ebank-client/build/
/Ebank-client/dist/
/Atm-deposit/nbproject/private/
/Atm-deposit/Atm-deposit-war/nbproject/private/
/Atm-deposit/Atm-deposit-ejb/nbproject/private/
/deposit-lib/nbproject/private/
/ShoppingCartEA/ShoppingCartEA-war/nbproject/private/
/ShoppingCartEA/nbproject/private/
/ShoppingCartEA/ShoppingCartEA-ejb/nbproject/private/
/ShoppingCartEA-lib/nbproject/private/
/ShoppingCartEA-lib/dist/
/ShoppingCartEA-lib/build/
/ShoppingCartEA/ShoppingCartEA-ejb/build/
/ShoppingCartEA/ShoppingCartEA-ejb/dist/
/ShoppingCartEA/ShoppingCartEA-war/build/
/ShoppingCartEA/build/
/ShoppingCartEA/ShoppingCartEA-war/dist/
/ShoppingCartEA/dist/
/ShoppingCartEA-client/nbproject/private/
/ShoppingCartEA-client/dist/
/ShoppingCartEA-client/build/
/LMSEA/nbproject/private/
/LMSEA/LMSEA-war/nbproject/private/
/LMSEA/LMSEA-ejb/nbproject/private/
/LMSEA/LMSEA-ejb/build/
/LMSEA/LMSEA-ejb/dist/
/LMSEA/LMSEA-war/build/
/LMSEA/LMSEA-war/dist/
/LMSEA/build/
/LMSEA/dist/